
{% extends 'base.html'%}
{% load static %}


    <title>login</title>
  
    {% block content %}
<body>
   
    <form>
        {% csrf_token %}
        <div class="wrapper">
            <div class="user-input">
                <label>Username:</label>
                <input type="text" placeholder="username">
            </div>
             <div class="user-input">
                <label>Password:</label>
                <input type="text" placeholder="password">
            </div>
            <div class="user-button">
                <button>log in</button>
            </div>
        </div>
    </form>
</body>
{% endblock %}